<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/definition/css/bootstrap.min.css}"
	href="../../definition/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a th:href="@{/}" href="environments.html"> Configuration </a></li>
					<li><a th:href="@{/definition/sf-api-definition.html}" href="/definition/sf-api-definition.html"> Definition </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content"></div>
	</div>
</body>
</html>
