<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Configuration</title>
</head>
<body>
	<h1 layout:fragment="header">Configuration</h1>
	<div layout:fragment="content" class="container">
		<form id="configurationForm" th:action="@{/configuration/(form)}" th:object="${configuration}"
			action="#" method="post">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>

			<label for="clientId">Client Id</label>
			<input type="text"
				th:field="*{clientId}"
				th:class="${#fields.hasErrors('clientId')} ? 'field-error'" />

			<label for="clientSecret">Client Secret</label>
			<input type="text"
				th:field="*{clientSecret}"
				th:class="${#fields.hasErrors('clientSecret')} ? 'field-error'" />

			<div class="form-actions">
				<input type="submit" value="Save" />
			</div>
		</form>
	</div>
</body>
</html>
