<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Environments : View</title>
</head>
<body>
	<h1 layout:fragment="header">Environments : Create</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalEnvironment}"
			th:text="${globalEnvironment}">Some Success environment</div>
		<div class="pull-right">
			<a th:href="@{/}" href="list.html"> Environments </a>
		</div>
		<dl>
			<dt>ID</dt>
			<dd id="id" th:text="${environment.id}">123</dd>
			<dt>Date</dt>
			<dd id="created" th:text="${#calendars.format(environment.created)}">
				July 11, 2012 2:17:16 PM CDT</dd>
			<dt>Summary</dt>
			<dd id="summary" th:text="${environment.summary}">A short summary...
			</dd>
			<dt>Environment</dt>
			<dd id="text" th:text="${environment.text}">A detailed environment that
				is longer than the summary.</dd>
		</dl>
		<div class="pull-left">
			<a href="environments" th:href="@{'/delete/' + ${environment.id}}">
				delete </a> | <a href="form.html"
				th:href="@{'/modify/' + ${environment.id}}"> modify </a>
		</div>
	</div>
</body>
</html>
