<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Environments : View</title>
</head>
<body>
	<h1 layout:fragment="header">Environments : Create</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalEnvironment}"
			th:text="${globalEnvironment}">Some Success environment</div>
		<div class="pull-right">
			<a th:href="@{/}" href="list.html"> Environments </a>
		</div>
		<dl>
			<dt>ID</dt>
			<dd id="id" th:text="${environment.id}"></dd>

			<dt>Scheme</dt>
			<dd id="scheme" th:text="${environment.scheme}"></dd>

			<dt>Host</dt>
			<dd id="host" th:text="${environment.host}"></dd>

			<dt>Port</dt>
			<dd id="port" th:text="${environment.port}"></dd>

			<dt>URL Prefix</dt>
			<dd id="urlPrefix" th:text="${environment.urlPrefix}"></dd>
		</dl>
		<div class="pull-left">
			<a href="environments" th:href="@{'/delete/' + ${environment.id}}">
				delete </a> | <a href="form.html"
				th:href="@{'/modify/' + ${environment.id}}"> modify </a>
		</div>
	</div>
</body>
</html>
